*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

h1{
   color: #fff; 
   font-size: 60px;
   font-family: "Courier New", Courier, monospace;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

section{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position-x: center; 
    
    animation: animateBg 30s linear infinite;
}
@keyframes animateBg {
    0%,100%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.2);
    }
}
span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background:#fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}
span::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%); 
    background: linear-gradient(90deg,#fff, transparent);
}

@keyframes animate {
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70%{
        opacity: 0.5;
    }

    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1){
    top: 0px;
    left: 500px;
    animation-duration: 1s;
    animation-delay: 0s;
}

span:nth-child(2){
    top: 0px;
    left: 1000px;
    animation-duration: 1s;
    animation-delay: 0s;
}

span:nth-child(3){
    top: 0px;
    left: 2000px;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

span:nth-child(4){
    top: 0;
    left: 3000px;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
}
span:nth-child(5){
    top: 0;
    left: 4000px;
    animation-duration: 0.5s;
    animation-delay: 0.6s;
}
span:nth-child(6){
    top: 0;
    left: 5000px;
    animation-duration: 1.5s;
    animation-delay: 0.8s;
}
span:nth-child(7){
    top: 0;
    left: 5500px;
    animation-duration: 2.5s;
    animation-delay: 1s;
}
span:nth-child(8){
    top: 0;
    left: 2500px;
    animation-duration: 2s;
    animation-delay: 1.2s;
}
span:nth-child(9){
    top: 0;
    left: 3500px;
    animation-duration: 1.25s;
    animation-delay: 1.4s;
}
span:nth-child(10){
    top: 0;
    left: 1500px;
    animation-duration: 1.75s;
    animation-delay: 1.6s;
}
