@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: hsl(229, 57%, 11%);
    background-image: url(/images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #fff;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-1{
    background-color: hsl(228, 56%, 26%);
    /* border: 1px solid hsl(228, 56%, 26%); */
    border-radius: 20px;
    margin: auto 30px;
    padding: 30px 50px;
   
}

.status{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-2{
    background-color: hsl(228, 56%, 26%);
    border-radius: 20px;
    margin: auto 30px;
    padding: 30px 60px;
}

.labels{
    display: flex;
    justify-content: space-between;
}

.box{
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 20px;
}

.box p{
    color: #000;
}

.box  span{
    font-size: 30px;
}

